{% extends "@CoreBundle/layout/main.html.twig" %}

{% block page_title %}添加章节点集合{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path("qa_admin_chapter_index") }}">试题管理</a></li>
{% endblock %}

{% block page %}
<div class="card">
     <div class="card-body"> 
    <div class="row">
        <div class="col-md-12">
            {{ formData|raw }}
        </div>
    </div>
  </div>
    </div>
{% endblock %}
