<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('en') }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <title>{% block page_title %}{% endblock %}-{{ option("app.name") }}</title>
    {% block head_stylesheets %}{% endblock %}
    {% block head_custom_stylesheets %}{% endblock %}
    {% block head_favicon %} {% endblock %}
    {% block head_javascript %} {% endblock %}
    {% block head_stylesheets_end %}{% endblock %}
    <!--[if lt IE 9]>
  <script src="{{ asset('assets/plugins/base/html5shiv.min.js') }}"></script>
  <script src="{{ asset('assets/plugins/base/respond.min.js') }}"></script>
    <![endif]-->
</head>
{% block body %}
<body id="{% block body_id %}{% endblock %}"  data-panel-auto-height-mode="height" class="{% block body_class %}{% endblock %}">
{% block body_main %}{% endblock %}
{% block body_javascript %}{% endblock %}
{% block body_custom_javascript %}{% endblock %}
</body>
{% endblock %}
</html>

