{% extends "@CoreBundle/layout/main.html.twig" %}

{% block page_title %}学员管理{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ path("admin_jw_class_index") }}">{{ classInfo['name'] }}</a></li>
{% endblock %}

{% block page %}
    <div class="card">
     <div class="card-body"> 
        <div class="row">
            <div class="col-md-12">
                {{ list|raw }}
            </div>
        </div>
      </div>
    </div>
{% endblock %}
