{% extends "@CoreBundle/layout/pop.html.twig" %}

{% block page_title %}编辑优惠券{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path("admin_mall_coupon_index") }}">优惠券管理</a></li>
{% endblock %}
{% block page %}
<div class="card">
     <div class="card-body"> 
    <div class="row">
        <div class="col-md-12">
            {{ formData|raw }}
        </div>
    </div>
  </div>
    </div>
{% endblock %}
