###> symfony/framework-bundle ###
.env.local
.env.local.php
.env.*.local
.settings
.user.ini
.htaccess
.DS_Store
/.vscode
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/upload/
/.buildpath
/.project
/.idea
/node_modules
/var/
/logs/
/vendor/
/config/prod
/config/test
/config/demo
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
