.exp_contain{padding-bottom: 60px;}


.face_top{min-height: 320px;background: #fff;border-bottom: 1px solid #dcdcdc;padding-bottom: 60px;}
.top_box>.pic_box{float: left;margin-left: 100px;width: 460px; height: 248px;padding-top: 60px; line-height: 248px; font-size: 0;overflow: hidden;text-align: center;}
.top_box>.pic_box>img{vertical-align: bottom;width: 100%;}

.top_box>.top_mag{float: left;margin-left: 82px;padding-top: 60px;width: 470px;}

.top_box>.top_mag>h2{font-size: 24px;color: #333333;font-weight: normal;line-height: 32px;max-height: 64px;word-break: break-all;overflow: hidden;}
.top_box>.top_mag>.tercher_discript{font-size: 12px;color: #999999;padding-top: 15px;line-height: 15px;word-break: break-all;margin-bottom: 8px;}
.top_box>.top_mag>.lesson_time{font-size: 12px;color: #999;}
.top_box>.top_mag>.lesson_time>span{color: #FF662C;}
.top_box>.top_mag>.teach_money{font-size: 18px;color: #FF662C;text-align: baseline; height: 30px;line-height: 30px;padding-top: 33px;}
.top_box>.top_mag>.teach_money>span{font-size: 30px;font-weight: 700;}
.top_box>.top_mag>.btns{font-size: 0;padding: 18px 0 10px;}
.top_box>.top_mag>.btns>a{display: inline-block;width: 129px;height: 39px;line-height: 39px;text-align: center;color: #fff;background: #FF662C;font-size: 16px;margin-right: 20px;}
/*划过*/
.top_box>.top_mag>.btns>a:hover{background:#F95111 }
.top_box>.top_mag>p{font-size: 12px;color: #999999;}


.top_box{position: relative;}
.face_top{min-height: 320px;background: #fff;border-bottom: 1px solid #dcdcdc;padding-bottom: 60px;}
.top_box>.pic_box_ben{margin-left: 100px;position: absolute;top:50%;margin-top:-100px;float: left;width: 460px; height: 248px; line-height: 248px; font-size: 0;overflow: hidden;text-align: center;}
.top_box>.pic_box_ben>img{vertical-align: bottom;width: 100%;}

.top_box>.top_mag_ben{float: right;margin-left: 82px;padding-top: 60px;width: 470px;}

.top_box>.top_mag_ben>form>h2{font-size: 20px;color: #333333;font-weight: normal;line-height: 32px;max-height: 64px;word-break: break-all;overflow: hidden;}
/*.top_box>.top_mag_ben>.tercher_discript{font-size: 12px;color: #999999;padding-top: 15px;line-height: 15px;max-height: 30px;overflow: hidden;word-break: break-all;margin-bottom: 8px;}*/
.top_box>.top_mag_ben>form>.tercher_discript>p,.top_box>.top_mag_ben>.lesson_time>p{font-size: 14px;color: #333;margin-bottom: 10px;margin-top: 10px;}
.top_box>.top_mag_ben>form>.tercher_discript>ul:after{content: '';clear: both;height: 0;overflow: hidden;visibility: hidden;display: block;}
.top_box>.top_mag_ben>.lesson_time>ul:after{content: '';clear: both;height: 0;overflow: hidden;visibility: hidden;display: block;}
.top_box>.top_mag_ben>form>.tercher_discript>ul>li,.top_box>.top_mag_ben>.lesson_time>ul>li{margin-right: 10px;margin-bottom: 10px;position: relative;text-align: center;font-size: 14px;color: #666;
  padding: 0 5px;height:31px ;border: 1px solid #666 ;line-height: 31px;float: left;}
.top_box>.top_mag_ben>form>.tercher_discript>ul>li>input,.top_box>.top_mag_ben>.lesson_time>ul>li>input{display: none;}


.top_box>.top_mag_ben>.lesson_time{font-size: 12px;color: #999;}
.top_box>.top_mag_ben>.lesson_time>span{color: #FF662C;}
.top_box>.top_mag_ben>form>.lesson_bottom>.teach_money{font-size: 18px;color: #FF662C;text-align: baseline; height: 30px;line-height: 30px;padding-top: 33px;}
.top_box>.top_mag_ben>form>.lesson_bottom>.teach_money>span{font-size: 30px;font-weight: 700;}
.top_box>.top_mag_ben>form>.lesson_bottom>.btns{font-size: 0;padding: 18px 0 10px;}
.top_box>.top_mag_ben>form>.lesson_bottom>.btns>a{display: inline-block;width: 129px;height: 39px;line-height: 39px;text-align: center;color: #fff;background: #FF662C;font-size: 16px;margin-right: 20px;}

/*选中时的样式*/
.top_box>.top_mag_ben>form>.tercher_discript>ul>li.li_selected,.top_box>.top_mag_ben>.lesson_time>ul>li.li_selected{border: 1px solid #FE5B59;color:#FE5B59 ;background: #FFF9F9;}

.top_box>.top_mag_ben>form>.tercher_discript>ul>li.li_selected span,.top_box>.top_mag_ben>.lesson_time>ul>li.li_selected span{position: absolute;right: 0;bottom: -1px;display: inline-block;width:12.5px ;height:13px ;;background: url(../../../images/common/selected.png) no-repeat ;background-size: contain;}


/*划过*/
.top_box>.top_mag_ben>form>.lesson_bottom>.btns a:hover{background:#F95111!important }
.top_box>.top_mag_ben>form>.lesson_bottom>p{font-size: 12px;color: #999999;}

/*专本连套读  --- end--*/
.lesson_nav{float: left;border-radius: 4px; }
.lesson_nav>ul{font-size: 0;height: 50px;}
.lesson_nav>ul>li{cursor: pointer; display: inline-block;font-size: 14px;color: #333333; padding-top: 4px;height: 42px;line-height: 42px;margin: 0 68px;}
.lesson_nav>ul>li.sec{color: #2C8CFF;border-bottom: 4px solid #2C8CFF;}
.lesson_nav>ul>li:hover{color: #2C8CFF;}
.lesson_nav>.lesson_item{min-height: 578px;width: 733px; background: #fff;border: 1px solid #E7E7E7;border-radius: 4px;}

/* 课程介绍 */
.lesson_nav>.lesson_item1{padding: 0 40px;width: 653px;}
.lesson_nav>.lesson_item1>ul{padding-top: 20px;padding-bottom: 15px;}
.lesson_nav>.lesson_item1>ul>li{padding-top: 16px;padding-bottom: 0;}
.lesson_nav>.lesson_item1>ul>li+li{ padding-bottom: 15px;}

.lesson_nav>.lesson_item1>ul>li.second_li{border-top: 1px solid #e7e7e7;margin-top: 10px;}

.lesson_nav>.lesson_item1>ul>li+li+li{border-top: 1px solid #e7e7e7;}
.lesson_nav>.lesson_item1>ul>li.introduce_li2,.lesson_nav>.lesson_item1>ul>li.introduce_li3{padding-bottom: 5px;}

.lesson_nav>.lesson_item1 .item_title{font-size: 16px;color: #333333;height: 30px;line-height: 30px;padding-left: 35px;}
.lesson_nav>.lesson_item1 .introduce_li1>.item_title{background-image: url(../../../images/lesson/lesson_i1.png);background-size:24px auto;  background-position:left;background-repeat:no-repeat;}
.lesson_nav>.lesson_item1 .introduce_li2>.item_title{background-image: url(../../../images/lesson/lesson_i2.png);background-size:24px auto;background-position:left;background-repeat:no-repeat;}
.lesson_nav>.lesson_item1 .introduce_li3>.item_title{background-image: url(../../../images/lesson/lesson_i3.png);background-size:24px auto;background-position:left;background-repeat:no-repeat;}
.lesson_nav>.lesson_item1 .introduce_li4>.item_title{background-image: url(../../../images/lesson/lesson_i4.png);background-size:24px auto;background-position:left;background-repeat:no-repeat;}
.lesson_nav>.lesson_item1 .introduce_li5>.item_title{background-image: url(../../../images/lesson/lesson_i10.png);background-size:24px auto;background-position:left;background-repeat:no-repeat;}
.lesson_nav>.lesson_item1 .introduce_li0>.item_title{background-image: url(../../../images/lesson/try_watch.png);background-size:24px auto;background-position:left;background-repeat:no-repeat;}

.lesson_nav>.lesson_item1>ul>li>ul{padding-left: 35px;padding-top: 10px;}
.lesson_nav>.lesson_item1 .introduce_li1 li,.lesson_nav>.lesson_item1 .introduce_li4 li{font-size: 14px;color: #666666;line-height: 2;}
.lesson_nav>.lesson_item1 .li_items>li{float: left;width: 200px;padding-right: 10px; font-size: 14px;color: #666666;height: 20px;line-height: 20px;margin-bottom: 10px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.lesson_nav>.lesson_item1 .li_items>li>span{display: inline-block;vertical-align: middle;width: 8px;height: 8px;border-radius: 5px;background: #2C8CFF;margin-right: 5px;}

.lesson_nav>.lesson_item1 .introduce_li0>ul>li{font-size: 14px;height: 50px;line-height: 50px;border-bottom: 1px solid  #E7E7E7;;}
.lesson_nav>.lesson_item1 .introduce_li0>ul>li:hover{font-size: 14px;color: #2C8CFF}
.lesson_nav>.lesson_item1 .introduce_li0>ul>li>a{margin-top: 10px;float: right;width:74px;background: #fff;color: #333;border: 1px solid #E7E7E7;line-height: 26px;display: inline-block ;text-align: center;font-size:12px;height: 26px;border-radius: 4px;display: inline-block}
.lesson_nav>.lesson_item1 .introduce_li0>ul>li>a:first-of-type{
  border: 0;display: inline-block;font-size: 14px;width: auto!important;float: left;}
/*划过*/
.lesson_nav>.lesson_item1 .introduce_li0>ul>li>a:hover{background: #2C8CFF;border: 1px solid #2C8CFF;color: #fff;}
.lesson_nav>.lesson_item1 .introduce_li0>ul>li>a:first-of-type:hover{
  background: #fff;color: #2C8CFF;border:0
}
/* 课程安排 */
/* .lesson_nav>.lesson_item2{border-bottom: none;} */

.lesson_nav>.lesson_item2>ul>li>.lessons_title{font-size: 16px;height: 30px;line-height: 30px;color: #333;padding-left: 70px;background-image: url(../../../images/lesson/lesson_i5.png);background-size:24px auto;background-position:35px center;background-repeat:no-repeat;margin-top: 36px;margin-bottom: 10px;}
.lesson_nav>.lesson_item2>ul>li>.lessons_title>span{cursor: pointer; float: right;display: block;width: 24px;height: 24px;margin: 17px 48px 0 0;background-image: url(../../../images/lesson/lesson_i7.png);background-size:21px auto;background-position:center;background-repeat:no-repeat;}
.lesson_nav>.lesson_item2>ul>li.list_slide>.lessons_title>span{background-image: url(../../../images/lesson/lesson_i6.png);}
/* .lesson_nav>.lesson_item2>ul>li>ul+ul{display: none;} */
.lesson_nav>.lesson_item2 .hidden_list>li{margin-left:40px;margin-right: 40px; font-size: 14px; border-top: 1px solid #e7e7e7;height: 45px;line-height: 45px;color:#666;}
.lesson_nav>.lesson_item2 .hidden_list>li:first-of-type{border-top:0}
/*专本连  start*/
.lesson_nav>.lesson_item2>ul>li>div>.lessons_title_zhuan{font-weight: 600;font-size: 14px;height: 58px;line-height: 58px;color: #666;border-top: 0;padding-left: 40px;background-size:16px auto;background-position:30px center;background-repeat:no-repeat;}
.lesson_nav>.lesson_item2>ul>li.list_slide>.list_slide_zhuan>ul>li>div>.lessons_title_zhuan{width: 690px;height:58px ;float: left;padding-left:40px;padding-right: 40px;line-height: 58px;}
.lesson_nav>.lesson_item2>ul>li.list_slide>.list_slide_zhuan>ul>li>ul{float: left;margin-left: 20px;}
.lesson_nav>.lesson_item2>ul>li.list_slide>.list_slide_zhuan>ul>li>ul>li{float: left;}

.lesson_nav>.lesson_item2>ul>li .lessons_title_tit{font-weight: 600;float: left;font-size: 16px;color: #666;padding-left: 40px;padding-right:15px;min-width: 80px;visibility: hidden;}
.lesson_nav>.lesson_item2>ul>li .lessons_title_tit1{font-weight: 500;float: left;font-size: 16px;color: #666;padding-left: 40px;padding-right:0px;cursor: pointer;}
.lesson_nav>.lesson_item2>ul>li .lessons_title_tit2{font-weight: 500;float: left;font-size: 16px;color:#2C8CFF;;padding-left: 40px;padding-right:0px;min-width: 32px; cursor: pointer;  }
.lesson_nav>.lesson_item2>ul.js_list_slide2{padding-top:30px;padding-bottom: 23px;}
.lesson_nav>.lesson_item2>ul>li .hidden_list_title{float: left;min-width:585px; }
.lesson_nav>.lesson_item2>ul>li .hidden_list_title>li{border: 1px solid #666666;;margin-right:20px;margin-bottom:15px;float: left;padding-right:12px;padding-left:12px ;line-height: 24px;color: #666;border-radius: 12.5px;}
.lesson_nav>.lesson_item2>ul>li.list_slide_tit:after{content:'';display: block;overflow: hidden;visibility: hidden;clear: both;height: 0;}
.lesson_nav>.lesson_item2>ul>li.list_slide_tit_show{display: block;}
.lesson_nav>.lesson_item2>ul>li.list_slide_tit_hidden{display: none;}
.lesson_nav>.lesson_item2>ul>li .hidden_list_title:after{content:'';display: block;overflow: hidden;visibility: hidden;clear: both;height: 0;}
.lesson_nav>.lesson_item2>ul>li.list_slide_tit{padding-right: 40px;padding-top: 25px;}
.lesson_nav>.lesson_item2>ul>li.list_slide_tit+li{margin-top: 20px;}
.lesson_nav>.lesson_item2>ul>li.list_slide_tit_2{margin-top: 33px;}
.lesson_nav>.lesson_item2>ul>li .hidden_list_title>.hidden_list_selected{background: #2C8CFF ;color:#fff ;border: 1px solid #2C8CFF;}
/*专本连  end*/

/* 师资介绍 */
.lesson_nav>.lesson_item3{padding: 20px 40px;width: 688px;}
.lesson_nav>.lesson_item3 li{height: 100px;padding: 20px 0;}
.lesson_nav>.lesson_item3 li>.pic_l{float: left;width: 100px;height: 100px;line-height: 100px;font-size: 0;text-align: center;}
.lesson_nav>.lesson_item3 li>.pic_l>img{width: 100px;vertical-align: middle;}
.lesson_nav>.lesson_item3 li>.msg_r{float: left; width: 568px;margin-left: 20px}
.lesson_nav>.lesson_item3 li>.msg_r>div{padding-top: 6px;height: 37px;font-size: 20px;color: #333333;line-height: 26px;}
.lesson_nav>.lesson_item3 li>.msg_r>div>span{font-size: 12px;display: inline-block;vertical-align: baseline;}
.lesson_nav>.lesson_item3 li>.msg_r>p{height: 57px;line-height: 19px;overflow: hidden;font-size: 14px;color: #999999;}

/* 推荐课程列表 */
.recommend_list{width: 1144px;}

.recommend_list>li{border-radius: 4px;margin-right: 20px; overflow: hidden; border: 1px solid #E7E7E7;width: 358px;height: 278px;background: #fff;margin-bottom: 20px;transition: all .3s ease-in-out;}
.recommend_list>li.index1{width: 738px;}
.recommend_list>li:hover{box-shadow: 2px 2px 12px 0 rgba(64,64,64,0.2);transform: translateY(-3px);}
/* .recommend_list>li.index1:hover{transform: translateY(0px);box-shadow: none;} */
.recommend_list>li>a{display: block;width: 100%;height: 100%;position: relative;}
.recommend_list>li>a>.msg_box>.msg_l>.lesson_list_card{position: absolute;z-index: 999;top: 0;right: -1px;height: 24px;line-height: 24px;text-align: center;font-size: 12px;color: #fff;background: #E2B866;padding: 0 9px;font-style: inherit; }
.recommend_list>li>a>.msg_box>.msg_l>.lesson_list_card:before{content: '';position: absolute;left: -8px;top: 0;width: 0;height: 0;line-height: 0;font-size: 0;overflow: hidden;border-left: 8px dashed transparent;border-top: 24px solid #E2B866;border-bottom: 10px dashed transparent;}
.recommend_list>li .msg_box{height: 188px;width: 100%;position: relative;overflow: hidden; z-index: 1;}
.recommend_list>li .msg_l{padding: 30px 0 0;width: 100%;position: absolute;z-index: 4;left: 0;top: 0;}
.recommend_list>li .msg_l>.msg_box_name{padding-left: 20px;width: 320px; margin-top:6px;max-height: 55px; margin-bottom: 10px;overflow: hidden; line-height: 28px;font-size: 20px;font-weight: 700;color: #000;}
.recommend_list>li .msg_l>.msg_box_time{padding-left: 20px;width: 320px; margin-bottom: 14px; font-size:14px; overflow: hidden; color: #333;}
.recommend_list>li .msg_l>.msg_box_ul{ display: flex;}
.recommend_list>li .msg_l>.msg_box_ul li{color: #333;font-size:12px; padding: 2px 6px;background:#F2F2F2;border-radius:2px; }

.recommend_list>li .msg_l>ul{padding-left: 20px;}
.recommend_list>li .msg_l>ul>li{float: left; color: #000;margin-right: 10px; text-align: center;font-size: 12px;}
.recommend_list>li .msg_l>ul>li.teachers_lable{color: #999;margin-right: 0px;}
.recommend_list>li .msg_l>div{font-size: 12px;color: #999;padding-top: 14px;padding-left: 20px;}
.recommend_list>li .msg_l>div>span{color: #FF662C;}


.recommend_list>li .pic_r {position: absolute;z-index: 2;right: 1px;top: 5px;font-size: 0;width: 160px;height: 210px;line-height: 210px;overflow: hidden;}
.recommend_list>li.index1 .pic_r {right: 1px;width: 182px;height: 210px; top: auto;bottom:1px;line-height: 210px;text-align: right;}
.recommend_list>li .pic_r>img {max-width: 100%;max-height: 100%; vertical-align: bottom;}

.recommend_list>li .item_bott{padding: 0 20px;height: 60px;}
.recommend_list>li .item_bott>ul{width:68%; float: left;}
.recommend_list>li .item_bott>ul>li{ float: left;text-align: center; margin-right: 20px;}
.recommend_list>li .item_bott>ul>li>span{max-width:60px; height:25px;line-height:22px; font-size: 12px; color: #666; display: block; text-align: center; overflow: hidden;}
.recommend_list>li .item_bott>ul>li>div{ width: 40px; display: block;margin:0 auto; height: 40px; border-radius: 50%; text-align: center;}
.recommend_list>li .item_bott>.item_size{float: left; font-size: 12px;line-height: 52px;height: 52px; color: #999999;}
.recommend_list>li .item_bott>.item_money{float: right; color: #FF662C;width: 32%; text-align: right; margin-top: 10px; height: 50px; vertical-align: bottom;}
.recommend_list>li .item_bott>.item_money .money_price{ font-size: 14px; }
.recommend_list>li .item_bott>.item_money .money_price span{ font-size: 28px; margin-left: 2px; }
.recommend_list>li .item_bott>.item_money .money_bug{font-size:12px; color: #999}
.recommend_list>li .item_bott>.item_money .money_free{ font-size: 24px;}

.recommend_list>li .msg_l>div.course_from{font-size: 14px;height: 22px;line-height: 22px;text-align: center;padding: 0 10px; color: #2C8CFF;border: 1px solid #2C8CFF;border-radius: 12px;display: inline-block;margin: 0 0 10px 5px;}
.recommend_list>li .msg_l>div.course_from:first-of-type{margin-left: 20px;}

.recommend_box{float: left;width: 327px;margin-left: 20px;}
.recommend_box>p{font-size: 14px;color: #333333;line-height: 50px;height: 50px;}
