{% extends "@CoreBundle/layout/main.html.twig" %}

{% block page_title %}{{ title }}{% endblock %}
{% block breadcrumb %}
    {% if breadcrumb is defined %}
        {% for bv in breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ bv["path"] }}">{{ bv["name"] }}</a></li>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block page %}
    {{ body|raw }}
{% endblock %}
