
.pages_box{padding-left: 242px;}

.question_right_selected .right_list {
    position: relative;
    width: 832px;
    height: 168px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    padding:20px 30px 0px 20px;
    margin-bottom: 10px;
    transition: all .3s ease-in-out
}
.question_right_selected .right_list:hover{box-shadow: 2px 2px 12px 0 rgba(64,64,64,0.2);transform: translateY(-3px);}
.question_right_selected .right_list .right_list_right .right_list_bottom:after{
   content: '';
   display: block;
   overflow: hidden;
   visibility: hidden;
   clear: both;

}
.question_right_selected .right_list .right_list_img{
   float: left;
   width: 200px;
   height: 148px;
   line-height: 148px;
   margin-right: 20px;
   overflow: hidden;
   display: block;
}
.question_right_selected .right_list .right_list_img img{
   width: 100%;
   vertical-align: middle;
}
.question_right_selected .right_list .right_list_right{
   float: left;
   width: 610px;
}

.question_right_selected .right_list .right_list_right .course_item_title{display: block;position: relative;font-size: 18px;height: 24px;line-height: 24px;color: #333333;font-weight: bold;padding:8px 0 0px;margin-bottom: 10px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.question_right_selected .right_list .right_list_right .course_item_disc{height: 16px;line-height: 16px;font-size: 12px;color: #999;margin-bottom: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.question_right_selected .right_list .right_list_right .course_item_disc span{ color: #FF662C;}

.question_right_selected .right_list .right_list_right .right_list_bottom{margin-top: 10px;}
.question_right_selected .right_list .right_list_right .course_item_time{float: left;font-size: 12px;color: #999;padding-top: 8px;}
.question_right_selected .right_list .right_list_right .course_item_time span{color: #FF662C;}

.question_right_selected .right_list .right_list_right .right_list_bottom a{display: block;width: 74px;line-height: 29px;height: 29px;text-align: center;background: #2C8CFF;border-radius: 2px;color: #fff;font-size: 12px;float: right;}
.question_right_selected .right_list .right_list_right .right_list_bottom .btn{display: block;width: 74px;line-height: 29px;height: 29px;text-align: center;background: #2C8CFF;border-radius: 2px;color: #fff;font-size: 12px;float: right;}


/*进度条*/
.question_right_selected .right_list .right_list_right .lessonProgress{
    background: #e2e2e2;
    height: 8px;
    position: relative;
    overflow: hidden;
}
.question_right_selected .right_list .right_list_right .lessonProgress div{
    width: 10%;
    height: 100%;
    background: #2C8CFF;
    position: absolute;
    left: 0;
    top: 0;
}

.question_mainCont .question_right{
   width: 882px;
   float: left;
}
.question_mainCont .question_right .question_right_selected .nav-tabs{
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    width: 100%;
    height: 49px;
    background: #fff;
}
.question_right_selected .nav li>a{display: block;color: #2C8CFF;height: 100%;}
.question_right_selected .nav li.sec a, .question_right_selected .nav li:hover a{color: #2C8CFF;}
.question_right_selected .nav li {
    float: left;
    cursor: pointer;
    color: #333;
    letter-spacing: 0;
    text-align: center;
    line-height: 49px;
    height: 100%;
    margin: 0px 20px 0px 30px;
    font-size: 14px;
}
/***   隐藏 添加class名*******/
.question_mainCont .question_right .question_right_selected .nav p{
   float: right;
   font-size: 14px;
   line-height: 49px;
   margin-right: 30px;
   color: #333333;

}
.question_mainCont .question_right .question_right_selected .nav p.lessonCountHiden{
   display: none;
}

.question_right_selected .question_test{
   display: none;
}
.question_right_selected .pagationSide_test_show{
   display: block;
   margin-top: 10px;
}


@media screen and (max-width: 800px) {

    .header .learning_navs_slide{display: block;}

    .question_content .question_mainCont .question_pagationSide{display:none; margin:0; position:fixed;z-index:101; left:0;top:2.4rem;width:36%;}
    .question_pagationSide ul{box-shadow: 0 0 4px 0 rgba(0,0,0,.18);border-radius: 0 0 4px 4px;border-top:none;}
    .question_pagationSide ul li{margin: 0;padding: .5rem 0;}
    .question_pagationSide ul li>a{height: 1.6rem;line-height: 1.6rem;font-size:.6rem;}

    .question_mainCont .question_right{float:none;width:94%;margin: 0 auto; }



    .question_right_selected .pagationSide_test_show{margin-top: .5rem;}

    .question_right_selected .right_list{width: auto;padding: 8px 5px;height:auto;}

    .question_right_selected .right_list .right_list_img{display: block;width: 26%;margin-right: 4%;height: 100px;line-height: 100px; min-height: 30px;overflow: hidden;font-size: 0;height: auto;display: block;padding-bottom: 0; }
    .question_right_selected .right_list .right_list_img img{width: 100%;height:auto;vertical-align: middle;}

    .question_right_selected .right_list .right_list_right{float:right; width: 69%;}

    .question_right_selected .right_list .right_list_right .course_item_title{font-size:.66rem; padding:.6rem 0 0;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;line-height: .8rem;height: .8rem;margin-bottom: .2rem;}

    .question_right_selected .right_list .right_list_right .course_item_disc{
        font-size:.5rem; line-height: .8rem;margin-bottom: .5rem;height: .8rem;margin-top: 0;
    }

    .question_right_selected .right_list .right_list_right .course_item_time{font-size:.5rem;padding-top: .25rem;}

    .question_right_selected .right_list .right_list_right .right_list_bottom{ margin-top: .2rem;}

    .question_right_selected .right_list .right_list_right .lessonProgress{margin: 0;}
    .question_right_selected .right_list .right_list_right p{font-size:.5rem;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;line-height: .6rem;height: .6rem;margin-top: .2rem;}
    .question_right_selected .right_list .right_list_right p.course_item_long{left: 32%;width: 32%;}

    .question_right_selected .right_list .right_list_right .right_list_bottom a{
        width: 3.2rem;
        line-height: 1.1rem;
        height: 1.1rem;
        font-size: .5rem;
    }

    .pages_box{padding-left:0;}
    .learn_contain{padding-bottom: 10px;}

    /* .question_mainCont .question_right .question_right_selected .nav p{display:none;} */


}


