body {
  background: #333;
}

.video_head {
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  overflow: hidden;
  padding: 0 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}

.video_head > p {
  overflow: hidden;;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.video_head > .video_head_back {
  width: 16px;
  height: 48px;
  position: absolute;
  left: 40px;
  top: 0px;
  background-image: url(../../../images/course/goBack.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.video_contain {
  padding-bottom: 80px;
}

.video_section {
  margin: 0 auto;
  position: relative;
  padding-right: 306px;
  width: 800px;
  background: rgb(12, 9, 9);
  height: 720px;
}

.video_section_hidden {
  padding-right: 0px;
  width: 1120px;
}

.section_content {
  height: 720px;
}

.section_box {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  overflow: hidden;
}

/*侧边栏点击展开按钮*/
.section_content > .section_box > .dialog_close {
  z-index: 99;
  background-image: url(../../../images/course/side_open.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 122px;
  position: absolute;
  top: 102px;
  right: 0px;
  cursor: pointer;
}

.section_content > .section_box > .dialog_open {
  z-index: 99;
  background-image: url(../../../images/course/side_close.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 122px;
  position: absolute;
  top: 102px;
  right: 0px;
  cursor: pointer;
}

.section_box > .video_box {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* .section_box>.video_box>.playercontainer{display: none;} */
/* .section_box>.video_box>.J_prismPlayer{display: none;} */
.section_box > .video_box > .prismPlayerOrplayercontainer {
  display: block;
}

/*隐藏*/
.dialog_box_hidden {
  display: none;
}

.dialog_box {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 360px;
  height: 720px;
  background: #3f3f3f;
}

.dialog_box > .person_box {
  padding-left: 10px;
  padding-top: 34px;
  height: 86px;
  background: #282828;
}

.dialog_box > .dialog_close {
  background-image: url(../../../images/common/close.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.dialog_box > .person_box > .avatar {
  float: left;
  font-size: 0;
  width: 68px;
  height: 68px;
  line-height: 68px;
  overflow: hidden;
  text-align: center;
  margin-right: 16px;
}

.dialog_box > .person_box > .avatar > img {
  width: 68px;
}

.dialog_box > .person_box > .person_msg {
  width: 200px;
  float: left;
  font-size: 12px;
  color: #999;
}

.dialog_box > .person_box > .person_msg > p {
  font-size: 14px;
  color: #FFFFFF;
  padding: 15px 0 10px;
}


/* 章节列表 */
.dialog_list {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.dialog_list_ul {
  font-size: 12px;
  color: #999999;
  line-height: 20px;
  padding-top: 20px;
  padding-left: 10px;
}

.dialog_list_slide > .dialog_list_title > span {
  background-image: url(../../../images/common/up.png);
}

.dialog_list_title {
  cursor: pointer;
  position: relative;
  height: 20px;
  font-size: 14px;
  padding: 10px 40px 10px 0;
  color: #FFFFFF;
}

.dialog_list_title > span {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  top: 12px;
  right: 10px;
  background-image: url(../../../images/common/down.png);
  background-size: 16px auto;
  background-repeat: no-repeat;
  background-position: center;
}

/* .dialog_list_item{cursor: pointer; position: relative;height: 20px;font-size: 12px;padding: 10px 60px 10px 0;} */
.dialog_list_item > a {
  display: block;
  cursor: pointer;
  position: relative;
  height: 20px;
  font-size: 12px;
  padding: 10px 60px 10px 0;
  color: #999;
}

.dialog_list_item > a > p > span {
  margin-right: 10px;
}

.dialog_list_item > a > span {
  position: absolute;
  display: block;
  height: 20px;
  top: 10px;
  right: 10px;
}

.dialog_list_item:hover a, .dialog_list_item.sec a {
  color: #2C8CFF;
}


/* 签到成功弹框 */
.video_contain > .punch_box {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.video_contain > .punch_box > .punch_section {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -338px;
  transform: translateY(-50%);
  text-align: center;
  background: #FFFFFF;
  border-radius: 10px;
  width: 370px;
  padding: 36px 0 30px;
}

.video_contain > .punch_box > .punch_section > div.punch_section_title {
  font-size: 24px;
  color: #333;
  line-height: 55px;
}

.video_contain > .punch_box > .punch_section > div.punch_section_content {
  font-size: 16px;
  color: #333;
  line-height: 24px;
}

.video_contain > .punch_box > .punch_section > p {
  background: #2C8CFF;
  border-radius: 4px;
  width: 313px;
  height: 40px;
  line-height: 40px;
  margin: 38px auto 0;
  font-size: 20px;
  color: #FFFFFF;
  cursor: pointer;
}

/*試聽*/
.video_contain_try .video_section {
  padding-right: 0;
}

.video_contain_try .section_content > .section_box > .dialog_close {
  display: none;
}


.prism-player .prism-cc-btn {
  display: none !important;
}

.prism-player .prism-setting-selector ul {
  max-height: 180px !important;
}

/* .jw-skin-bce .jw-controlbar .jw-icon-hd .jw-hd-label{color: #fff !important;background: none !important;} */


.prism-setting-list .prism-setting-cc, .prism-setting-list .prism-setting-audio, .prism-setting-list .prism-setting-quality {
  display: none !important;
}


.prism-player .prism-liveshift-progress .prism-progress-cursor, .prism-player .prism-progress .prism-progress-cursor {
  top: -3px;
  border: none;
  width: 16px;
  height: 16px; /* background: #fff; */
}

.prism-speed-selector .current-speed-selector {
  font-size: 14px;
  width: 51px;
}

.prism-speed-selector, .prism-stream-selector {
  font-size: 14px;
}

.prism-player .prism-volume .volume-control .volume-control-icon {
  display: none;
}

.prism-stream-selector .stream-selector-list {
  padding: 5px 0 0;
}


@media screen and (min-width: 800px) {
  .dialog_list::-webkit-scrollbar {
    width: 5px;
  }

  .dialog_list::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 3px;
  }


  body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-width: 700px;
  }

  .video_contain {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 48px;
    box-sizing: border-box;
    padding-bottom: 0;
  }

  .video_contain .video_head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 8;
    background: #333;
  }

  .video_contain .video_section {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 6;
  }

  .video_contain .section_content {
    height: 100%;
  }

  .video_contain .dialog_list_item.sec > a > p {
    white-space: normal;
  }

  .video_contain .dialog_list_item.sec > a {
    min-height: 20px;
    height: auto;
  }

  .video_contain .dialog_box {
    height: 100%;
  }

  .video_contain .dialog_list_ul {
    padding-left: 20px;
  }

  .video_contain .dialog_list_item > a {
    padding: 10px 70px 10px 0;
  }

  .video_contain .dialog_list_item > a > span {
    right: 20px;
  }

  .video_contain .video_section_hidden {
    width: 100%;
    padding-right: 0;
  }

  .video_contain .dialog_list_title {
    padding: 10px 50px 10px 0;
  }

  .video_contain .dialog_list_title > span {
    right: 20px;
  }


}

/* @media screen and (min-width: 1440px) {
    .video_section{width: 1120px;}
} */

@media screen and (max-width: 800px) {
  .video_contain {
    padding-bottom: 20px;
  }

  .video_section {
    padding-right: 0px;
    width: 100%;
    height: auto;
    background: none;
  }

  .section_content {
    background: #0c0909;
    height: 360px;
  }

  .section_content > .section_box > .dialog_close {
    display: none;
  }

  .dialog_box {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .dialog_box > .person_box {
    padding: .8rem 0 .8rem .5rem;
    height: auto;
  }

  .dialog_box > .person_box > .avatar {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    margin-right: .6rem;
  }

  .dialog_box > .person_box > .avatar > img {
    width: 100%;
  }

  .dialog_box > .person_box > .person_msg {
    width: 11rem;
    font-size: .5rem;
  }

  .dialog_box > .person_box > .person_msg > p {
    font-size: .6rem;
    padding: .5rem 0;
  }

  .dialog_box > .person_box > .person_msg {
    font-size: .5rem;
  }

  .dialog_list {
    height: 460px;
  }

  .dialog_contain > .send_box {
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
    height: 96px;
  }

  .dialog_contain > .send_box > .chart > textarea {
    box-sizing: border-box;
    width: 70%;
  }

  .dialog_contain > .send_box > .chart > button {
    width: 29%;
  }

  .video_head > .video_head_back {
    display: none;
  }

  .video_head.app_video_head > .video_head_back {
    display: block;
    left: 20px;
  }

  .video_head.app_video_head {
    padding-left: 50px;
  }

  .video_head.app_video_head > p {
    text-align: left;
  }

  /* app改版 */
  .video_contain {
    padding-bottom: 0;
  }

  .dialog_box .dialog_list {
    background: rgb(239, 239, 244);
  }

  .dialog_list_ul {
    padding: 0;
  }

  .dialog_list_item {
    background: #FBFBFB;
    border-top: 1px solid #ddd;
  }

  .dialog_list_item > a {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
  }

  .dialog_list_item > a > span {
    font-size: 14px;
    top: 15px;
  }

  .dialog_list_title {
    padding: 15px 40px 15px 0;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    background: #fff;
    color: #111;
    font-size: 16px;
    padding-right: 75px;
  }

  .dialog_list_ul .dialog_list_title {
    border-top: 1px solid #ddd;
  }

  .dialog_list_title > span {
    top: 23px;
  }

  .dialog_list_item > a > p > span {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 14px;
    background: #2C8CFF;
    margin-right: 10px;
    vertical-align: middle;
    line-height: 26px;
    color: #fff;
    font-size: 12px;
    text-align: center;
  }

  .volume-icon {
    display: none !important;
  }


}


@media screen and (max-width: 500px) {
  .section_content {
    background: #0c0909;
    height: 300px;
  }
}

@media screen and (min-width: 500px) {
  .app_video_add {
    width: auto !important;
    height: 100% !important;
  }
}

.v404 {
  background: url("../../../../../images/v404.png") no-repeat;
  margin: 200px auto 0 300px;
  width: 300px;
}

.v404desc {
  color: #fff;
  font-size: 30px;
  margin-left: 340px;
}

.dialog_list_item2 > a {
  display: block;
  cursor: pointer;
  position: relative;
  height: 20px;
  font-size: 14px;
  padding: 10px 60px 10px 0;
  color: #999;
}

.dialog_list_item2 span {
  right: 20px;
  position: absolute;
  display: block;
  height: 20px;
  top: 10px;
}

.dialog_list_item2.sec a {
  color: #2C8CFF;
}

.dialog_list_item2 a:hover {
  color: #2C8CFF;
}

.up {
  background-image: url(../../../images/common/up.png) !important;
}

.down {
  background-image: url(../../../images/common/down.png) !important;
}

/* 右侧聊天区 */
.section_contain > .section_r {
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-top: 37px;
  padding-bottom: 96px;
}

/* 聊天标题 */
.section_r > .section_r_top {
  box-sizing: border-box;
  position: absolute;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  height: 36px;
  line-height: 36px;
  background: #1e1e1e;
  padding-left: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.section_l_top {
  box-sizing: border-box;
  position: absolute;
  z-index: 8;
  top: 185px;
  left: 0;
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: #1e1e1e;
  padding-left: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

/* 聊天列表 */
.dialog_contain {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #333;
}

.section_l .dialog_contain {
  background: #1e1e1e;
}


.discuss_null {
  padding-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.comment_list_ul {
  padding-top: 10px;
}

.comment_list_ul > li {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.comment_list_ul .person_name {
  font-size: 14px;
  line-height: 20px;
  color: #2C8CFF;
  padding-bottom: 6px;
  padding-top: 14px;
}

.comment_list_ul .person_name > .li_timer {
  float: right;
  font-size: 12px;
  color: #999;
}

.comment_list_ul .person_name > .person_username {
  width: 190px;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #2C8CFF;
  font-size: 0;
  height: 20px;
}

.comment_list_ul .person_name > .person_username > p {
  max-width: 130px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #2C8CFF;
  font-size: 14px;
}

.comment_list_ul .person_name > .person_username > span {
  width: 54px;
  margin-left: 4px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #FF662C;
  font-size: 14px;
}


/* 回答部分 */
.news_anwser_box {
  margin-top: -5px;
  padding-bottom: 15px;
}

.news_anwser_box > ul {
  background: #333;
  padding: 0 12px;
}

.cc_m_contain .news_anwser_box > ul {
  background: #484848
}

.news_anwser_box > ul > li + li {
  border-top: 1px solid rgba(255, 255, 255, .3);
}

.comment_list_ul .news_anwser_person {
  width: 190px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #2C8CFF;
  font-size: 0;
  height: 20px;
  padding: 10px 0 5px;
}

.comment_list_ul .news_anwser_person > p {
  max-width: 130px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #2C8CFF;
  font-size: 14px;
}

.comment_list_ul .news_anwser_person > span {
  width: 54px;
  margin-left: 4px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #FF662C;
  font-size: 14px;
}

.comment_list_ul .news_anwser_msg {
  line-height: 18px;
  font-size: 12px;
  color: #fff;
  padding-bottom: 14px;
  word-break: break-all;
}


.comment_list_ul .news_msg {
  line-height: 18px;
  font-size: 12px;
  color: #fff;
  padding-bottom: 14px;
  word-break: break-all;
}

.comment_list_ul .news_msg img {
  width: 24px;
  margin: 0 2px;
}

.comment_list_ul .news_msg_q {
  color: #fff;
}

/* 聊天发送框 */
.send_box {
  position: absolute;
  z-index: 12;
  bottom: 0;
  left: 0;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  height: 96px;
  background: #1e1e1e;
}

.send_box > .chart {
  border: 1px solid #5AA0FF;
  border-radius: 4px;
  margin: 0 auto;
  height: 49px;
  overflow: hidden;
}

.send_box > .chart > textarea {
  width: 70%;
  border-radius: 4px;
  float: left;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 10px 0 10px;
  display: block;
  resize: none;
  outline: none;
  overflow-y: auto;
  border: 0 none;
  height: 49px;
  box-sizing: border-box;
  background: #1e1e1e;
  color: #fff;
}

.send_box > .face_box {
  height: 36px;
  line-height: 36px;
  font-size: 0;
  position: relative;
}

.send_box > .face_box > img {
  width: 16px;
  vertical-align: middle;
  cursor: pointer;
}

.send_box > .face_box > .face_div {
  position: absolute;
  left: 0px;
  bottom: 36px;
}

.send_box > .face_box > .face_div > div {
  background: rgba(255, 255, 255, 0.2);
  padding: 3px;
  line-height: 2px;
}

.send_box > .face_box > .face_div > div img {
  cursor: pointer;
}


/*禁言时的颜色*/
.send_box > .chart > button {
  float: right;
  width: 29%;
  font-size: 14px;
  color: #FFFFFF;
  display: block;
  text-align: center;
  line-height: 49px;
  height: 49px;
  background: #5AA0FF;
  border: 0 none;
  outline: none;
  resize: none;
  -webkit-appearance: button;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 0 4px 4px 0;
}

/*划过*/
.send_box > .chart > button:hover {
  background: #1D7AEA;
}

.send_box > .chart > button.comment_text {
  background: #E2E2E2;
  color: #fff;
  margin-right: 1px;
  cursor: default;
}




