{% extends '@AppBundle/layout/layout.html.twig' %}
{% block page %}
  {{ parent() }}

<div id="main" class="commonMain">
    <div class="layui-main addbuy">
        <div class="wrap">
          <div class="content">
            支付成功!
          </div>
        </div>
    </div>
</div>
{% endblock %}
