{% extends '@WebsiteBundle/layout/layout.html.twig' %}
 {% block page %}
     {{ parent() }}
  <div id="main"  class="myMain">
      <div class="layui-main">
        <div class="layui-row layui-col-space20">
          <div class="layui-col-md2">
            {{ render(controller('WebsiteBundle:User:userNav', {route:route})) }}
          </div>
          <div class="layui-col-md10">
            {{ render(controller('WebsiteBundle:Learn:index', {page:page})) }}
          </div>
        </div>
      </div>
  </div>
 {% endblock %}
