{% extends '@WebsiteBundle/layout/layout.html.twig' %}
 {% block page %}
   {{ parent() }}
<div id="main" class="myMain">
  <div class="layui-main">
    <div class="layui-row layui-col-space20">
      <div class="layui-col-md2">
        {{ render(path('app_user_userNav', {route:route})) }}
      </div>
      <div class="layui-col-md10">
        <div class="wrap">
          <div class="content">
             <ui class="secureList">
               <li class="secureListItem">
                 <span class="layui-icon layui-icon-cellphone"></span>
                 <span class="title">手机绑定</span>
                 <span class="descr">已绑定手机：{{ userInfo['mobileView'] }}</span>
                 <span class="btn"><a class="layui-btn layui-btn-sm layui-btn-normal" href="{{ path('app_user_changeMobile_first') }}">修改</a></span>
               </li>
             </ui>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 {% endblock %}
