{% extends "@AdminBundle/layout/pop.html.twig" %}

{% block page %}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            {{ formData|raw }}
        </div>
    </div>
</section>
{% endblock %}
