{% extends "@AdminBundle/layout/main.html.twig" %}
{% import "@QABundleAdmin/macros/chaptersub_tree_view.html.twig" as macros %}

{% block page_title %}题目管理{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ path("qa_admin_chapter_index") }}">试题管理</a></li>
  <li class="breadcrumb-item">{{ chapter['name'] }}</li>
{% endblock %}

{% block page %}
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-default">
          <div class="card-body table-responsive no-padding">
            {{ list|raw }}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
