<div class="layui-fluid layui-bg-black">
    <div class="layui-main " id="footer">
      <div class="layui-row">
        <div class="layui-col-md12 layui-center copyright" >
          {{ copyright }}
        </div>
      </div>
      <div class="layui-row">
        <div class="layui-col-md12 layui-center copyright" >
          {{ beian }}
        </div>
      </div>
    </div>
</div>
