{% extends "@CoreBundle/layout/main.html.twig" %}

{% block page_title %}添加产品{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path("admin_teach_product_index") }}">产品管理</a></li>
{% endblock %}
{% block page %}
<div class="card">
     <div class="card-body"> 
    <div class="row">
        <div class="col-md-12">
            {{ formData|raw }}
        </div>
    </div>
  </div>
    </div>
{% endblock %}
