<div class="layui-show edux-height30" style="margin-top:20px;">
  <span class="layui-breadcrumb">
    <a href="javascript:;" >{{ courseInfo['name'] }}</a>
    <a href="javascript:;">{{ info['name'] }}</a>
  </span>
</div>

<div class="layui-row" style="margin-top:20px;">
  <div class="layui-col-md6">
    <!--视频播放区域-->
      <div id="playercontainer" class="playercontainer"></div>
  </div>
  <div class="layui-col-md3 layui-col-offset10">
    <!-- 聊天区 -->
    {% include '@EduxBundle/teach/chapter/liveView/_live.leftmenu.html.twig' %}
  </div>
  <div class="layui-col-md3 layui-col-offset10">
    <div class="courseWrap">
          <div class="title">用户列表</div>
          <div style="border-top: 1px solid #f4f4f4;">
               <div class="lyear-chat-room">
                  <aside class="lyear-chat-side">
                        <div class="lyear-chat-search">
                            <div class="has-feedback">
                              <input type="text" placeholder="输入昵称关键词，回车搜索" class="form-control" name="keywords" id="keywords" />
                              <span class="mdi mdi-account" aria-hidden="true"></span>
                            </div>
                          </div>

                        <div class="lyear-chat-sidebar-scroll lyear-need-scroll">
                            <div class="list-group lyear-chat-users" id="chat-users-list"></div>
                        </div>    
                  </aside>
               </div>
          </div>
    </div>
  </div>
</div>
</div>

<script>
  livePlay("playercontainer", '',"",'{{ playUrl|raw }}', "800px", "600px");
</script>
