<div class="wrap">
  <div class="header">
    <span class="breadcrumb">
      <span>{{ courseInfo['name'] }}</span>
       <span>/</span>
      <span>{{ info['name'] }}</span>
    </span>
  </div>
  <div class="content margin-top20">
    <div class="layui-row">
      <div class="layui-col-md9">
        <!--视频播放区域-->
          <div id="playercontainer" class="playercontainer"></div>
      </div>
      <div class="layui-col-md3">
        <!-- 聊天区 -->
        {% include '@EduxBundle/teach/chapter/liveView/_live.leftmenu.html.twig' %}
      </div>
    </div>
  </div>
</div>
<script>
  var urls = {{ playUrl|raw }};
  livePlay("playercontainer", urls, 800, 600, "");
</script>
