<div class="wrap">
  <div class="header">
    <span class="breadcrumb">
      <span>{{ courseInfo['name'] }}</span>
       <span>/</span>
      <span>{{ info['name'] }}</span>
    </span>
  </div>
<div class="container-fluid p-t-15">
    <div class="row">
      <div class="col-md-9">
        <!--视频播放区域-->
          <div id="playercontainer" class="playercontainer"></div>
      </div>
      <div class="col-md-3">
        <!-- 聊天区 -->
        {% include '@EduxBundle/teach/chapter/liveView/_live.leftmenu.html.twig' %}
      </div>
    </div>
  </div>
</div>
<script>
  livePlay("playercontainer", '',"",'{{ playUrl|raw }}', "800px", "600px");
</script>
