{% extends "@AdminBundle/layout/main.html.twig" %}

{% block page_title %}单个banner列表{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ path("admin_mall_banner_index") }}">banner管理</a></li>
{% endblock %}

{% block page %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                {{ list|raw }}
            </div>
        </div>
    </section>
{% endblock %}
