{% extends "@CoreBundle/layout/pop.html.twig" %}

{% block page_title %}编辑试卷{% endblock %}


{% block page %}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            {{ formData|raw }}
        </div>
    </div>
</section>
{% endblock %}
