{% extends "@CoreBundle/layout/main.html.twig" %}

{% block page_title %}添加试卷{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path("qa_admin_test_index") }}">试卷管理</a></li>
{% endblock %}

{% block page %}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            {{ formData|raw }}
        </div>
    </div>
</section>
{% endblock %}
