{% extends "@CoreBundle/layout/main.html.twig" %}

{% block page_title %}[{{ testInfo['name'] }}]试卷试题管理{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ path("qa_admin_test_index") }}">试卷管理</a></li>
{% endblock %}

{% block page %}
  <div class="card">
     <div class="card-body"> 
    <div class="row">
      <div class="col-md-12">
        {{ list|raw }}
      </div>
    </div>
    </div>
    </div>
{% endblock %}
