{% extends "@CoreBundle/layout/main.html.twig" %}

{% block page_title %}操作日志{% endblock %}

{% block page %}
   <div class="card">
     <div class="card-body"> 
        <div class="row">
            <div class="col-md-12">
                {{ list|raw }}
            </div>
        </div>
   </div>
        </div>
{% endblock %}
