
/**   ***** 课程名称区域  *******    ***/
.exp_top{background: #fff;margin-top: 20px;}
.exp_top>.exp_section{width: 1120px;margin: 0 auto;}
.exp_top>.exp_section:after{content: '';clear: both;height: 0;overflow: hidden;visibility: hidden;display: block;height: auto;}
.exp_top>.exp_section ul li:after{content: '';clear: both;height: 0;overflow: hidden;visibility: hidden;display: block;}
.exp_top>.exp_section ul li div{font-weight: 900;padding: 30px 0 20px 0;float: left;font-size: 16px;color: #333333;}
.exp_top>.exp_section ul li div p{font-weight: normal;}
.exp_top>.exp_section ul li div.section_one{width: 760px;text-align: left;}
.exp_top>.exp_section ul li div.section_two{width:120px;text-align: center ;}
.exp_top>.exp_section ul li.li_section_title{padding: 10px 0;border-top: 1px solid  #E7E7E7;}
.exp_top>.exp_section ul li.li_section_title div.section_one{width: 760px;text-align: left;}
.exp_top>.exp_section ul li.li_section_title div.section_one p{font-size: 14px;text-align: justify;line-height: 14px;}
.exp_top>.exp_section ul li.li_section_title div.section_one p.section_p1{color: #333333;margin-bottom: 20px;}
.exp_top>.exp_section ul li.li_section_title div.section_one p.section_p2{color: #666;}
.exp_top>.exp_section ul li.li_section_title div.section_two{width:120px;text-align: center ;}
.exp_top>.exp_section ul li.li_section_title div.section_two p{font-size: 16px;text-align: center;line-height: 16px;}
.exp_top>.exp_section ul li.li_section_title div.section_two p.section_p1{color: #FF662C;margin-bottom: 20px;}
.exp_top>.exp_section ul li.li_section_title div.section_two p.section_p2{color: #666;}


/*  *****  优惠码区域  ****** */
.exp_center{background: #fff;margin-top: 20px;}
.exp_center>.exp_content{width: 1120px;margin: 0 auto;padding-bottom: 30px;}
.exp_center>.exp_content:after{content: '';clear: both;height: 0;overflow: hidden;visibility: hidden;display: block;height: auto;}
.exp_center>.exp_content ul li:after{content: '';clear: both;height: 0;overflow: hidden;visibility: hidden;display: block;}
.exp_center>.exp_content ul li div{font-weight: 900;padding: 30px 0 20px 0;float: left;font-size: 16px;color: #333333;}
.exp_center>.exp_content ul li div.section_one{width: 760px;text-align: left;}
.exp_center>.exp_content ul li div.section_two{width:120px;text-align: center ;}
.exp_center>.exp_content ul li.li_section_txt>form>div.section_txt{padding: 0;}
.exp_center>.exp_content ul li.li_section_txt>form>div.section_txt>.select_txt{width:303px ;height:40px ;margin-right:10px ;border: 1px solid #E7E7E7;text-indent: 10px;}
.exp_center>.exp_content ul li.li_section_txt>form>div.section_txt>.select_btn{width:90px ;height:40px ;line-height:40px ;border: none;color: #fff;text-align: center;background: #2C8CFF;border-radius: 2px;cursor: pointer;}
/*划过*/
.exp_center>.exp_content ul li.li_section_txt>form>div.section_txt>.select_btn:hover{background: #1D7AEA;}

/******       选择支付方式区域      *******/

.exp_bottom{background: #fff;margin-top: 20px;}
.exp_bottom>.exp_content{width: 1120px;margin: 0 auto;padding-bottom: 50px;}
.exp_bottom>.exp_content:after{content: '';clear: both;height: 0;overflow: hidden;visibility: hidden;display: block;height: auto;}
.exp_bottom>.exp_content ul li:after{content: '';clear: both;height: 0;overflow: hidden;visibility: hidden;display: block;}
.exp_bottom>.exp_content ul li div{font-weight: 900;padding: 30px 0 20px 0;float: left;font-size: 16px;color: #333333;}
.exp_bottom>.exp_content ul li div.section_one{width: 760px;text-align: left;}
.exp_bottom>.exp_content ul li div.section_two{width:120px;text-align: center ;}
.exp_bottom>.exp_content ul li.li_section_txt{border-top: 1px solid #E7E7E7;padding-top: 30px;height: 60px;}

.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>.section_txt div{float: left;height: 20px;line-height: 20px;font-size: 14px;color: #666;margin-right: 18px;}
.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>.section_txt div>label{display: inline-block;vertical-align: middle;height: 14px;width: 14px;border: 1px solid #979797;margin-right: 6px;border-radius: 10px;margin-top: 22px;}
.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>.section_txt div input.radio-btn{display: none;}




.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>.section_txt div input.radio-btn+label:hover{cursor: pointer;}
.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>.section_txt div input.radio-btn:checked+label{background: #2783FB;border: 1px solid #2783FB;display: inline-block;vertical-align: middle;height:14px;width:14px;text-align: center;position: relative;}
.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>.section_txt div input.radio-btn:checked+label:after{content: "";font-size: 0px;width: 6px;height: 6px;border-radius: 50%;display: block;background: #fff;position: absolute;left: 4px;top: 4px;}

.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>div.section_txt{padding: 0;margin-right: 60px;}
.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>div.section_txt div{cursor: pointer;}
.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>.section_txt div{padding: 0;}
.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>.section_txt div>.section_txt_rg{width:162px ;height:57px;float: right ;border: 1px solid #E7E7E7;}


.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>.section_txt div input.radio-btn:checked+label.txt_1{background: #2783FB;border: 1px solid #2783FB;display: inline-block;vertical-align: middle;height:14px;width:14px;text-align: center;position: relative}
.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>.section_txt div input.radio-btn:checked+label.txt_1:after{content: "";font-size: 0px;width: 6px;height: 6px;border-radius: 50%;display: block;background: #fff;position: absolute;left: 4px;top: 4px;}

.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>.section_txt div>.section_txt_rg>span{display: inline-block;padding: 15px 45px;width: 100px;}
.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>.section_txt div>.section_txt_rg>span>.section_img{width: 90px;height: 30px;background: url(../../../images/common/pay_zhifubao.png) no-repeat;background-size: cover;position: relative;left: -10px;}
.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>.section_txt div>.section_txt_rg>span>.section_img_2{margin: 0;width: 110px;height:30px ;background: url(../../../images/common/pays_weixin.png) no-repeat;background-size: cover;float: left;position: relative;left: -14px;}
.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>.section_txt div>.section_txt_rg>span>p{line-height: 32px;font-size: 14px;color: #545454;float: left;position: relative;left: 3px;}







.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>div.section_txt{padding: 0;}
.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>div.section_txt div{margin-right: 30px;cursor: pointer;}
.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>.section_txt div{padding: 0;}
.exp_bottom>.exp_content>.form_group_box >ul>li.li_section_txt>.section_txt div>.section_txt_rg{width:162px ;height:57px;float: right ;border: 1px solid #E7E7E7;}

.exp_bottom>.exp_content >.form_group_box>ul:after{content:'';display: block;visibility: hidden;overflow: hidden;clear: both;height: 0;}
.exp_bottom>.exp_content >.form_group_box>ul li div.section_foot{width: 100%;}
.exp_bottom>.exp_content >.form_group_box>ul li div.section_foot>ul:after{content:'';display: block;visibility: hidden;overflow: hidden;clear: both;height: 0;}
.exp_bottom>.exp_content >.form_group_box>ul li div.section_foot>ul>li{float: left;}
.exp_bottom>.exp_content >.form_group_box>ul li div.section_foot>ul>li.li_payBtn{float: right;position: relative;top: 6px;}
.exp_bottom>.exp_content >.form_group_box>ul li div.section_foot>ul>li.li_payBtn>button{display: inline-block;padding: 0 15px; height:50px ;background:#FF662C;color:#fff ;line-height: 50px;font-size: 18px;text-align: center;border-radius: 2px;}
/*划过*/
.exp_bottom>.exp_content >.form_group_box>ul li div.section_foot>ul>li.li_payBtn>button:hover{background: #F95111;}
.exp_bottom>.exp_content >.form_group_box>ul li div.section_foot>ul>li.li_payMoney>p{color:#999 ;font-size:14px;line-height: 58px;font-weight: normal;}
.exp_bottom>.exp_content >.form_group_box>ul li div.section_foot>ul>li.li_check>label>p>span{cursor: pointer;font-weight: normal;}
.exp_bottom>.exp_content >.form_group_box>ul li div.section_foot>ul>li.li_check>label>p>a{font-weight: normal; color:#2C8CFF;cursor: pointer;}
.exp_bottom>.exp_content >.form_group_box>ul li div.section_foot>ul>li.li_check>input{width:16px ;height:16px ;display: inline-block;margin-right:12px ;border: 1px solid #000;float: left;margin-top: 22px;}
.exp_bottom>.exp_content >.form_group_box>ul li div.section_foot>ul>li.li_payMoney>p>label{color:#FF662C ;font-size:26px;display: inline-block;font-weight: 600;}
.exp_bottom>.exp_content >.form_group_box>ul li div.section_foot>ul>li.li_payMoney{margin-right: 80px;margin-top: 10px;}
.exp_bottom>.exp_content >.form_group_box>ul li div.section_foot>ul>li.li_check>label{color:#999 ;font-size:14px;display: inline-block;line-height: 58px;}
.exp_bottom>.exp_content >.form_group_box>ul li div.section_foot>ul>li.li_check{margin-top: 10px;}



/* 协议弹框 */
.agreement_fix{position: fixed;z-index: 120;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.4);overflow: hidden;}
.agreement_fix>.agreement_box{position: relative;box-sizing: border-box;padding-top: 100px;padding-bottom: 40px;padding-left: 20px;padding-right: 20px; width: 100%;height: 100%;overflow: auto;}

.agreement_fix .agreement_section_c{width: 820px;background: #fff;border-radius: 4px;margin: 0 auto;}
.agreement_fix .agreement_s_h{position: relative;height: 80px;text-align: center;font-size: 18px;color: #333;line-height: 80px;border-bottom: 1px solid #e7e7e7;}
.agreement_fix .agreement_s_h>span{position: absolute;z-index: 9;right: 30px;top: 25px;height: 30px;width: 30px;background-image: url(../../../images/user/close.png);background-position: center;background-repeat: no-repeat;background-size: 20px;cursor: pointer;}

/* 协议内容 */
.agreement_fix .agreement_s_c{width: 100%;padding: 0px 20px 30px 40px;box-sizing: border-box;height: 376px;position: relative;overflow: auto;border-bottom: 1px solid #e7e7e7;}
.agreement_fix .agreement_s_contain{padding: 20px 0;position: relative;}
.agreement_fix .agreement_s_c::-webkit-scrollbar{width: 5px;}
.agreement_fix .agreement_s_c::-webkit-scrollbar-thumb{background: #d8d8d8;border-radius: 3px;}

.agreement_fix .agreement_s_b{height: 40px;line-height: 40px;font-size: 0;padding: 20px 38px;}
.agreement_fix .agreement_s_b>.agreement_s_b1{float: left;height: 100%;padding-left: 26px;width: 150px;font-size: 16px;color: #333;background-image: url(../../../images/course/i10.png);background-position: left;background-repeat: no-repeat;background-size: 18px auto;}

.agreement_fix .agreement_s_b>.agreement_s_b2{float: left;height: 30px;margin-top: 4px;border: 1px solid #ddd;border-radius: 3px;line-height: 30px;}
.agreement_fix .agreement_s_b>.agreement_s_b2>input{display: inline-block;width: 95px;height: 30px;color: #333;font-size: 12px;padding-left: 5px;padding-right: 5px; border: none;}
.agreement_fix .agreement_s_b>.agreement_s_b2>div{display: inline-block;width: 85px;height: 23px;padding-top: 7px; color: #333;font-size: 12px;cursor: pointer;}
.agreement_fix .agreement_s_b>.agreement_s_b2>div>p{height: 16px;line-height: 16px;border-left: 1px solid #d8d8d8;text-align: center;}

.agreement_fix .agreement_s_b>.agreement_s_b3{float:right; padding: 0 15px;height: 40px;background: #FF662C;color: #fff;line-height: 40px;font-size: 18px;text-align: center;border-radius: 3px;cursor: pointer;}
