body {
  font-family: tahoma,微软雅黑,arial,"\5b8b\4f53" !important;
  font-size: .9375rem;
  color: #757575;
  background-color: #f6f6f8;
}

.layui-center{
  text-align: center;
}

.wrap {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 18px rgba(0,0,0,.06);
  /*border-bottom: 1px solid hsla(210,8%,51%,.09)!important;*/
}

.wrap .header {
  text-align: left;
  font-size: .9375rem;
  font-weight: 600;
  color: #333333;
  padding-bottom: 10px;
  background-color: #fff;
  border-bottom: 1px solid #f6f6f6;
}

.mainBox {
  padding: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 18px rgba(0,0,0,.06);
  min-height: calc(100vh - 300px);
  margin-bottom: 10px;
}

.mainBox .header {
  text-align: left;
  font-size: .9375rem;
  font-weight: 600;
  color: #333333;
  padding-bottom: 10px;
  background-color: #fff;
  border-bottom: 1px solid #f6f6f6;
}


.margin-top20{
  margin-top: 20px;
}

.margin-left20{
  margin-left: 20px !important;
}

.border{
  border: #ddd 1px solid;
}

em{
  font-style:normal;
  color: red;
}

.fontColorRed{
  color: red;
}

.padding10{
  padding: 10px;
}

.floatRigth{
  float: right;
}

a:hover{
  color: #1E9FFF !important;
}

.bgBody{
  background-color: #f6f6f8!important;
}

.bgWhite{
  background-color: #fff!important;
}

#main {
  margin-bottom: 0px;
  min-height: calc(100vh - 190px);
}

#footer{
  padding-top: 20px;
  padding-bottom: 20px;
}

.layui-tab-brief>.layui-tab-title .layui-this{
  color: #1E9FFF !important;
}

.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #1E9FFF !important;
}

.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover {
  background-color: #1E9FFF !important;
  color: #fff;
}

.layui-breadcrumb a{
  color: #fff!important;
}

.layui-breadcrumb a:hover {
  color: #1E9FFF!important;
}

.model{
  padding: 10px;
}
.blue{
  color: #1E9FFF !important;
}
.breadcrumb{
  color: #666;
  font-size: 16px;
}

.caller-seach .caller-icon {
  font-size: 18px;
  position: absolute;
  top: 9px;
}

.caller-seach-icon {
  left: 6px;
}

.caller-pl32 {
  padding: 0 32px;
}

/*头部导航*/
.topheader{
  height: 20px;
  padding: 5px;
}
.topheader .right-nav{
  list-style: none;
}
.topheader .right-nav li{
  float: right;
  padding-left: 20px;
}
.topheader .right-nav a{
  color: #ddd;
}
.navheader{
  top:10px;
  height: 60px;
}

.navheader .logo{
  padding: 0px;
}

.navheader .logo img{
  height: 40px;
  margin-left: 10px;
}

.navheader .mainNav{
  list-style: none;
}

.navheader .mainNav .navItem{
  float: left;
  padding: 10px;
}

.navheader .mainNav .navItem a{
  font-size: .9375rem;
  font-weight: 600;
  word-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: .5rem 1rem;
}

.navheader .mainNav .active{
  border-bottom: 2px solid #1E9FFF;
}
.navheader .mainNav .active a{
  color:#1E9FFF;
}

.layui-bg-bg0{
  background-color: #fff !important;
  color: #666!important;
  box-shadow: 0 0 18px rgba(0,0,0,.06);
  border-bottom: 1px solid hsla(210,8%,51%,.09)!important;
}

.layui-bg-bg1{
  background-color: #666!important;
  color: #666!important;
}

.footMsg{
  padding-top: 40px;
  padding-bottom: 40px;
}
.footMsg ul{
  list-style: none;
}

.footMsg ul li{
  padding: 10px;
}

.footMsg ul .header{
  font-size: 16px;
}

.footMsg ul li a{
  color: #ccc;
  font-size: 14px;
}
.footMsg ul .row{
  padding: 0px 10px;
  width: 18px;
  height: 3px;
  background: #ccc;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.copyright{
  margin: 10px 0;color: #999; font-size: 12px;
}

.expClear:after{display: block;content: ' ';clear: both;font-size: 0;visibility: hidden;}
/*首页*/
.bannerMenu{
  margin-top: 20px;
  margin-bottom: 20px;
  padding:10px 0px;
  box-shadow: none;
}

.layui-carousel{
  z-index: 22;
}

.bannerMenu .navCateDiv {
  /*position: relative;*/
  position:absolute;
  z-index: 9999;
  left: 0;
  top: 0;
  background-color: #fff;
  height: 405px;
}

.layui-nav-tree .layui-nav-icon {
  right: 10px;
  position: absolute;
}

.cateList{
  list-style: none;
  padding: 10px;
}

.cateList li{
  float: left;
  margin-left: 20px;
}

.goodCard{
  width: 270px;
  border-radius: 6px;
  border: #eee 1px solid;
  background-color: #fff;
  margin-top: 10px;
}
.goodCard .goodCover img{
  width: 270px;
  height: 160px;
  border-radius: 6px 6px 0 0;
}
.goodCard .goodInfo{
  padding: 10px;
  border-radius: 6px 6px 0 0;
}
.goodCard .goodInfo .goodTitle{
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.goodCard .goodInfo .goodAttr .goodPrice{
  color: red;
}
.goodCard .goodInfo .goodAttr .buyNum{
  float: right;
  color: #999;
  font-size: 12px;
}

.goodCard .goodInfo .goodTags{
  padding: 5px 0;
  height: 30px;
}

.newsCard{
  width: 320px;
  border-radius: 6px;
  border: #eee 1px solid;
  padding: 10px;
}

.newsCard .newsTitle{
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.newsCard .newsAttr .view{
  float: right;
  color: #999;
  font-size: 12px;
}
.newsCard .newsAttr .time{
  color: #999;
  font-size: 12px;
}

.liveCard{
  width: 520px;
  border-radius: 6px;
  border: #eee 1px solid;
  padding: 10px;
  background-color: #fff;
}
.liveCard .liveCover img{
  width: 250px;
  height: 160px;
}
.liveCard .liveInfo{
  padding: 10px;
  border-radius: 6px 6px 0 0;
}
.liveCard .liveInfo .liveTitle{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  padding: 10px;
}

.liveCard .liveInfo .liveTime{
  color: #999;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 10px;
}
.liveCard .liveInfo .liveAttr{
  padding: 10px;
}

.liveCard .liveInfo .liveAttr .livePrice{
  color: red;
}
.liveCard .liveInfo .liveAttr .join{
  float: right;
}
/*登录页*/
.loginBg{
  height: 600px;
  background: url(/bundles/eduxpluswebsite/images/login_bg.jpg) no-repeat 50%;
}
.loginBox{
  width: 380px;
  background-color: #fff;
  min-height: 300px;
  margin-top: 60px;
  border-radius: 6px;
  transition: all .8s;
  transform: perspective(600px);
}
/*我的产品*/
.cardlist ul{
  list-style: none;
}
.cardlist ul li {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.cardlist ul li a{
  font-size: 14px;
  color: #666;
}

.cardlist ul .active a{
  color: #1E9FFF !important;
}

.mygoodCard{
  border-radius: 6px;
  border: #eee 1px solid;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 10px;
}
.mygoodCard .cover img{
  height: 140px;
}
.mygoodCard .info{
  border-radius: 6px 6px 0 0;
}
.mygoodCard .info .title{
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  padding: 10px;
}

.mygoodCard .info .descr{
  color: #999;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 10px;
}
.mygoodCard .info  .attr{
  padding: 10px;
}
.mygoodCard .info  .attr .meta1{
  font-size: 12px;
  color: #999;
}
.orderCard{
  box-shadow: 0 0 18px rgba(0,0,0,.06);
  border-bottom: 1px solid hsla(210,8%,51%,.09)!important;
  padding: 10px;
}
.orderCard .title{
  font-weight: bold;
  color: #333;
  padding: 10px;
  font-size: 16px;

}
.orderCard .mainInfo{
  padding: 10px;
}

.orderCard .subInfo{
  padding: 10px;
}

.orderCard .subInfo a:hover{
  color: #ccd4dc !important;
}

.myMain{
  margin: 20px 0 40px 0;
}

.commonMain{
  margin: 0px 0 40px 0;
}
/*课程列表*/
.courseList .activeCourseList{
  list-style: none;
}

.activeCourseMsgs{
  padding: 10px 5px ;
  box-shadow: 0 0 18px rgba(0,0,0,.06);
}

.activeCourseMsgs .name{
    color: #333;
}


/*订单详情*/
.orderDetail{
  padding: 10px;
  box-shadow: 0 0 18px rgba(0,0,0,.06);
  border-bottom: 1px solid hsla(210,8%,51%,.09)!important;
}

.orderDetail .title{
  font-weight: 700;
  color: #333;
}

.orderDetail  .list{
  padding: 10px;
}

.goodsDetail{
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0 0 18px rgba(0,0,0,.06);
  border-bottom: 1px solid hsla(210,8%,51%,.09)!important;
}
.goodsDetail .title{
  font-weight: 700;
  color: #333;
}
.goodsDetail  .list{
  padding: 10px;
}

.payDetail{
  margin-top: 20px;
  clear: left;
  box-shadow: 0 0 18px rgba(0,0,0,.06);
  border-bottom: 1px solid hsla(210,8%,51%,.09)!important;
  padding: 10px;
}
.payDetail .title{
  font-weight: 700;
  color: #333;
}
.payDetail ul{
  list-style: none;
}
.payDetail ul li{
  padding: 10px;
}

/*课程详情*/

.playercontainer{

}
.courseMenu{
  height: 550px;
  overflow-y: auto;
  font-size: 12px !important;
  border-top: 1px solid #f4f4f4;
}
.courseWrap{
  padding: 10px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 18px rgba(0,0,0,0.1);
}
.courseWrap .title{
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
}
.courseMenu .layui-collapse{
  border: none !important;
}
.courseMenu .gray{
  color: #999;
}
.courseMenu .active{
  color: #1E9FFF !important;
}

/*直播聊天*/
.liveChat{
}

.liveChat .chatContain{
  height: 450px;
  overflow-y: auto;
  border-top: 1px solid #f4f4f4;
}

.liveChat .chatContain .chatNull{
  padding-top: 20px;
  text-align: center;
  font-size: 12px !important;
}

.liveChat .chatContain .chatBox {
  padding-top: 10px;
}

.liveChat .chatContain .chatBox > li {
  box-shadow: 0 0 18px rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

.liveChat .chatContain .chatBox .personName {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 6px;
  padding-top: 14px;
}

.liveChat .chatContain .chatBox .personName > .li_timer {
  float: right;
  font-size: 12px;
  color: #999;
}

.liveChat .chatContain .chatBox .personName > .personUsername {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #2C8CFF;
  font-size: 0;
  height: 20px;
}

.liveChat .chatContain .chatBox .personName > .personUsername > p {
  max-width: 130px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #2C8CFF;
  font-size: 14px;
}

.liveChat .chatContain .chatBox .personName > .personUsername > span {
  width: 54px;
  margin-left: 4px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #FF662C;
  font-size: 14px;
}

.liveChat .chatContain .chatBox .newsMsg {
  line-height: 30px;
  font-size: 12px;
  word-break: break-all;
}

.liveChat .chatContain .chatBox .newsMsg img {
  width: 24px;
  margin: 0 2px;
}


/* 聊天发送框 */
.liveChat .sendBox {
  z-index: 12;
  bottom: 0;
  left: 0;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
}

.liveChat .sendBox > .chart {
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 0 auto;
  height: 49px;
  overflow: hidden;
}

.liveChat .sendBox > .chart > textarea {
  width: 70%;
  border-radius: 4px;
  float: left;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 10px 0 10px;
  display: block;
  resize: none;
  outline: none;
  overflow-y: auto;
  border: 0 none;
  height: 49px;
  box-sizing: border-box;
}

.liveChat .sendBox > .faceBox {
  height: 30px;
  line-height: 30px;
  font-size: 0;
  position: relative;
}

.liveChat .sendBox > .faceBox > img {
  width: 16px;
  vertical-align: middle;
  cursor: pointer;
}

.liveChat .sendBox > .faceBox > .faceDiv {
  position: absolute;
  left: 0px;
  background-color: #f7f7f7;
  padding: 5px;
}

.liveChat .sendBox > .faceBox > .faceDiv > div {
  background: rgba(255, 255, 255, 0.2);
  padding: 3px;
  line-height: 2px;
}

.liveChat .sendBox > .faceBox > .faceDiv > div img {
  cursor: pointer;
}

.layui-form-checked span, .layui-form-checked:hover span{
  background-color: #2C8CFF !important;
}

.layui-form-checked i, .layui-form-checked:hover i{
  color: #2C8CFF !important;
}

/*禁言时的颜色*/
.liveChat .sendBox > .chart > button {
  float: right;
  width: 29%;
  font-size: 14px;
  color: #FFFFFF;
  display: block;
  text-align: center;
  line-height: 49px;
  height: 49px;
  background: #5AA0FF;
  border: 0 none;
  outline: none;
  resize: none;
  -webkit-appearance: button;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 0 4px 4px 0;
}

/*划过*/
.liveChat .sendBox > .chart > button:hover {
  background: #1D7AEA;
}

.liveChat .sendBox > .chart > button.commentText {
  background: #E2E2E2;
  color: #fff;
  margin-right: 1px;
  cursor: default;
}

.v404 {
  background: url("/assets/images/v404.png") no-repeat #333333 ;
  background-position:center;
  width: 800px;
  height: 500px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  padding-top: 100px;
}

.timer{
  position:relative;
  width: 800px;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}
.timer span{
  color: red;
}

/*安全列表*/
.secureListItem:last-child {
  border-bottom: none !important;
}

.secureListItem{
  padding: 20px;
  line-height: 30px;
  border-bottom: 1px solid hsla(210,8%,51%,.09)!important;
}

.secureList .title{
  margin-left: 20px;
}
.secureList .descr{
  margin-left: 20px;
  color: #999;
}
.secureList .btn{
float: right;
}


/*单页*/
.pageMain{
  margin: 50px 0 40px 0;
}

/*详情*/

.detailHead .header{
  padding: 10px;
}

.detailHead .body .cover img{
  width: 550px;
  height: 300px;
}

.detailHead .body .info{
  min-height: 240px;
}

.detailHead .body .info .title{
  color: #fff;
  height: 30px;
  line-height: 30px;
  font-weight: 700;
}

.detailHead .body .info .price{
  padding: 10px 0;
}

.detailHead .body .info .attr{
    padding: 10px 0;
    color: #999;
}

.detailHead .body .info .attr .lesson_time{
  padding: 10px 0;
}

.detailHead .body .info .attr .viewNum{
  padding: 10px 0;
}

.detailHead .body .infoFooter{
  padding: 10px;
  color: #888;
}

.detailHead .body .infoFooter a{
  color: #999;
}

.detailHead .body .infoFooter .layui-btn{
  color: #fff !important;
}

.detailHead .body .infoFooter ul{
  list-style: none;
}

.detailHead .body .infoFooter .left{
  float: left;
}

.detailHead .body .infoFooter .right{
  float: right;
}

.detailHead .body .infoFooter ul li{
  height: 40px;
  line-height: 40px;
}

.detailHead .body .info .goodsList{
  padding: 10px 0;
  margin-bottom: 20px;
}

.detailHead .body .info .goodsList .goodsListTitle{
  padding-left: 10px;
  margin-bottom: 5px;
}

.detailHead .body .info .goodsList .selectArea li{
  float: left;
  margin-left: 10px;
}

.detailBody{
  margin-top: 40px;
}

.activeCourseMsgs{
  padding: 10px 5px ;
  box-shadow: 0 0 18px rgba(0,0,0,.06);
}

.activeCourseMsgs .name{
  color: #333;
}

/*课程中心*/
.centerHeader{
  background-color: #fff;
  margin-top: 20px;
}
.centerCard{
  padding: 10px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 18px rgba(0,0,0,0.1);
}
.centerCard a{
  margin-left: 20px;
}

.centerBody{
  background-color: #fff;
  margin-top: 20px;
  padding: 10px;
}


/*购买页面*/
.buyHead{
  margin-top: 20px;
}

.buyCard{
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 18px rgba(0,0,0,.06);
}

.addbuy{
  padding: 10px;
  margin-top: 20px;
  background-color: #fff;
}

/*消息错误显示页面*/

.layui-body {
  top: 100px;
  position: fixed;
  bottom: 0;
}

.layui-body .layadmin-tabsbody-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -200px;
  right: 0;
  overflow: hidden;
  overflow-y: auto;
}
.laymsg-tips {
  margin-top: 30px;
  text-align: center;
}

.laymsg-tips .layui-icon[face] {
  display: inline-block;
  font-size: 300px;
  color: #393D49;
}

.laymsg-tips .layui-text {
  width: 500px;
  margin: 30px auto;
  padding-top: 20px;
  border-top: 5px solid #393D49;
  font-size: 16px;
}

/*资讯中心*/
.newsBanner{
  margin-top: 20px;
}

.newsBanner .bannerList{
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0,0,0,.06);
}

.tabnews{
  list-style: none;
}
.tabnews li{
  height: 44px;
  line-height: 44px;
}
.tabnews li a{
  font-size: 14px;
}

.tabnews li a .moment{
  color: #999;
  float: right;
}

.newslist{
  margin-bottom: 20px;
}

.newsItem{
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,.06);
  padding-bottom: 20px;
}

.newsItem img{
  width: 230px;
  height: 100px;
  border-radius: 6px;
}
.newsItem .title{
  padding: 10px;
  font-size: 16px;
  color: #333;
}
.newsItem .other {
  color: #999;
  font-size: 12px;
  margin-top: 20px;
}

.newsItem .other .timer{
  padding-left: 20px;
}

.newsItem .other .viewnum{
  padding-left: 20px;
}

.newsItem .other .timer .moment{
  color: #999;
  font-size: 12px;
}

/*资讯详情页*/
.newsdetail{
  margin-top: 10px;
}

.newsBreadcrumb{
  padding: 10px;
  margin-top: 10px;
}

.newsBreadcrumb a{
  color: #333 !important;
}

.newsBreadcrumb a cite{
  color: #999;
}

.newsdetail .header{
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0,0,0,.06);
  padding: 10px;
  background-color: #fff;
  margin-bottom: 20px;
}

.newsdetail .header .title{
   font-size: 24px;
   color: #333;
  padding-left: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
}


.newsdetail .header .timer{
  padding-left: 20px;
  color: #999;
}

.newsdetail .header .viewnum{
  padding-left: 20px;
  color: #999;
}

.newsdetail .header .timer .moment{
  color: #999;
  font-size: 12px;
}

.newsBody{
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0,0,0,.06);
  margin-bottom: 20px;
  font-size: 12px !important;
}

.leftBody{
  border-radius: 6px;
  box-shadow: 0 0 20px rgb(0 0 0 / 6%);
  margin-bottom: 20px;
  font-size: 12px !important;
}

/*帮助中心*/
.helpCard{
  margin-top: 20px;
  margin-bottom: 20px;
}

.helpBody{
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0,0,0,.06);
  margin-bottom: 20px;
  font-size: 12px !important;
}

.helpBody ul{
  list-style: none;
}
.helpBody ul li{
  padding: 10px;
  font-size: 14px;
}
.helpBody ul li a{
  color: #666 !important;
}

.helpBody ul li a:hover{
  color: #2C8CFF !important;
}

.helpHeader .layui-card-header{
  border-bottom:none !important;
  font-size: 18px;
}

/*搜索页*/
.searchHeader{
  margin-top: 20px;
}

.searchHeader .caller-btn {
  font-size: 18px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.searchlist{
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0,0,0,.06);
  background-color: #fff;
}

.newsSearchItem{
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,.06);
  padding-bottom: 20px;
}

.newsSearchItem .title{
  padding: 10px;
  font-size: 16px;
  color: #333;
}
.newsSearchItem .other {
  color: #999;
  font-size: 12px;
}

.newsSearchItem .other .timer{
  padding-left: 20px;
}

.newsSearchItem .other .viewnum{
  padding-left: 20px;
}

.newsSearchItem .other .timer .moment{
  color: #999;
  font-size: 12px;
}

/*我的消息*/
.msg{
  clear: both;
  border-radius: 2px;
  box-shadow: 0 0 18px rgba(0,0,0,.06);
  padding: 10px;
  border: #ddd 1px solid;
  margin-bottom: 10px;
}

.msg .content{
  padding: 10px;
  color: #333333;
}

.msg .read{
  color: #aaa;
}

.msg .other{
  height: 30px;
}

.msg .other .item{
  margin: 10px;
}

.msg .other .item .moment{
  color: #999;
  font-size: 12px;
}

/*试卷详情*/

.detailHeadTest .header{
  padding: 10px;
}

.detailHeadTest .body .cover img{
  width: 550px;
  height: 300px;
}

.detailHeadTest .body .info{
  min-height: 80px;
}

.detailHeadTest .body .info .title{
  color: #fff;
  height: 30px;
  line-height: 30px;
  font-weight: 700;
}

.detailHeadTest .body .info .price{
  padding: 10px 0;
}

.detailHeadTest .body .info .attr{
  padding: 10px 0;
  color: #999;
}

.detailHeadTest .body .info .attr .lesson_time{
  padding: 10px 0;
}

.detailHeadTest .body .info .attr .viewNum{
  padding: 10px 0;
}

.detailHeadTest .body .infoFooter{
  padding: 10px 0;
  color: #888;
}

.detailHeadTest .body .infoFooter a{
  color: #999;
}

.detailHeadTest .body .infoFooter .layui-btn{
  color: #fff !important;
}

.detailHeadTest .body .infoFooter ul{
  list-style: none;
}

.detailHeadTest .body .infoFooter .left{
  float: left;
}

.detailHeadTest .body .infoFooter .right{
  float: right;
}

.detailHeadTest .body .infoFooter ul li{
  height: 40px;
  line-height: 40px;
}

.detailHeadTest .body .info .goodsList{
  padding: 10px 0;
  margin-bottom: 20px;
}

.detailHeadTest .body .info .goodsList .goodsListTitle{
  padding-left: 10px;
  margin-bottom: 5px;
}

.detailHeadTest .body .info .goodsList .selectArea li{
  float: left;
}

/* 题目 */
.qa-choose .title{
  font-size: 16px;
  font-weight: 40;
  margin-left: 10px;
  margin-bottom: 10px;
}
.qa-choose .optionList{
  margin-left: 20px;
  font-size: 12px;
}

.layui-card-body{
  padding: 10px 0px!important;
}

.leftcard{
  margin-bottom: 10px;
  padding-bottom: 40px!important;
}

.leftcard ul{
 list-style-type: none;
 clear: both;
}

.leftcard ul li{
  list-style: none;
  float: left;
  background-color: #aaa;
  margin-left: 10px;
  margin-right: 10px;
}
.leftcard ul li a{
  padding: 10px;
  color: #FFF;
}

.leftcard .hasChoose{
  background-color: #FF0033 !important;
}

.clear{
  clear: both;
}

.layui-tab-content img{
  max-width: 700px;
}

.blank-img{
  margin-top: 100px;
}
