{% extends "@CoreBundle/layout/main.html.twig" %}

{% block page_title %}添加配置{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path("admin_option_index") }}">系统配置管理</a></li>
{% endblock %}
{% block page %}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            {{ formData|raw }}
        </div>
    </div>
</section>
{% endblock %}
