{% extends "@AdminBundle/layout/pop.html.twig" %}

{% block page_title %}添加章节{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path("admin_teach_course_index") }}">课程管理</a></li>
    <li class="breadcrumb-item"><a href="{{ path("admin_teach_chapter_index", {"id":id}) }}">章节管理</a></li>
{% endblock %}

{% block page %}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            {{ formData|raw }}
        </div>
    </div>
</section>
{% endblock %}
