{% extends "@CoreBundle/layout/main.html.twig" %}
{% import "@CoreBundle/macros/category_tree.html.twig" as macros %}

{% block page_title %}分类管理{% endblock %}


{% block body_custom_javascript %}
    <script>
        $(function(){

            $('#tree').nestable({scroll:true});

            $('.tree-tools').on('click', function(e){
                var action = $(this).data('action');
                if (action === 'expand') {
                    $('.dd').nestable('expandAll');
                }
                if (action === 'collapse') {
                    $('.dd').nestable('collapseAll');
                }
              $('.tree-tools').removeClass("active");
                $(this).addClass("active");
            });

            $("#sortSave").click(function(){
                var serialize = $('#tree').nestable('serialize');
                requestPost('{{ path('admin_api_teach_category_updateSort') }}', serialize);
            });
        });
    </script>
{% endblock %}

{% block page %}
    <div class="card">
     <div class="card-body"> 
        <div class="row">
            <div class="col-md-6">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="btn-group">
                            <button class="btn btn-primary btn-sm tree-tools" data-action="expand" title="展开">
                                <i class="mdi mdi-plus-box-outline"></i>&nbsp;展开
                            </button>
                            <button class="btn btn-primary btn-sm tree-tools active" data-action="collapse"
                                    title="收起">
                                <i class="mdi mdi-minus-box-outline"></i>&nbsp;收起
                            </button>
                        </div>
                        {% if is_authorized('admin_api_teach_category_updateSort') %}
                            <div class="btn-group">
                                <button class="btn btn-info btn-sm" id="sortSave" title="保存">
                                    <i class="mdi mdi-content-save"></i><span class="hidden-xs">&nbsp;保存排序 </span>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                    <!-- /.box-header -->
                    <div class="card-body table-responsive no-padding">
                        <div class="dd" id="tree">
                            {{ macros.category_tree(categorys) }}
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            {% if is_authorized('admin_api_menu_add') %}
            <div class="col-md-6">
                {{ addFormData|raw }}
            </div>
            {% endif %}
        </div>
      </div>
    </div>
{% endblock %}
