{% extends "@AdminBundle/layout/main.html.twig" %}

{% block style %}

{% endblock %}

{% block body_class %} text-sm {% endblock %}

{% block body_main %}
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    {% block page %}{% endblock %}
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
{% endblock %}
